.Parent{
  display: flex;
  justify-content: center;
}
.leftScreen{
  width: 50vw;
  height: 100%;
}
.rightScreen{
  width: 50vw;
  height: 100%;
}
.topHeading{
   text-align: center;
   color: white;
   background-color: black;
   padding: 10px;
}
.cardContainer{
   display: flex; 
   flex-wrap: wrap;
   gap: 15px;
   align-items: center;
   justify-content: center;
   margin-top: 20px;
   margin-left: 10px;
   margin-right: 10px;
}
.movieCard{
  height: 350px;
  width: 220px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-radius: 5px;
}
.movieImg{
   width: 100%;
   padding: 5px;
   height: 75%;
   object-fit: cover;
}
.movieName{
  font-size: 25px;
  margin-left: 10px;
  color: #545454;
}
.movieLan{
  font-size: 13px;
  margin-left: 5px;
  color: red;
}
.summaryBtn{
  border: none;
  background-color: green;
  color: white;
  margin-top: 5px;
  margin-left: 43px;
  border-radius: 4px;
  padding: 5px 9px;
}